<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Macro to add a camera. -->
  <xacro:macro name="picoflexx_cam_macro"
    params="parent_link camera_suffix *origin">

    <joint name="${camera_suffix}_joint" type="fixed">
      <!-- FrontFront <origin xyz="0.077 0.021 0.126" rpy="0 0 0"/> FrontRight <origin xyz="0.057 -0.056 0.126" rpy="0 0 -1.0472"/> FrontLeft <origin xyz="0.020 0.077 0.126" rpy="0 0 1.0472"/> -->
      <xacro:insert_block name="origin" />
      <parent link="${parent_link}" />
      <child link="${camera_suffix}_link"/>
    </joint>

    <!-- Camera -->
    <link name="${camera_suffix}_link">
<!--
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
	  <box size="0.007 0.050 0.017"/>
        </geometry>
      </collision> -->

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
	  <box size="0.007 0.050 0.017"/>
        </geometry>
          <material name="red">
            <color rgba=".8 0 0 1"/>
          </material>
      </visual>

      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
    </link>

    <joint name="${camera_suffix}_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
      <parent link="${camera_suffix}_link"/>
      <child link="${camera_suffix}_link_optical"/>
    </joint>

    <link name="${camera_suffix}_link_optical"/>
  </xacro:macro>
</robot>
