<launch>

  <arg name="path" default=""/>
  <arg name="changeIdFrame" default="/talker/changes"/>

	<!-- you can load an exisiting tree with <node ... args="tree.bt"> octomap_tracking_server_node !-->
	<node pkg="octomap_server" type="octomap_tracking_server_node" name="octomap_talker" output="screen" args="$(arg path)">
		<param name="frame_id" type="string" value="odom" />
		<param name="latch" value="false"/>
		<remap from="cloud_in" to="/pf_FF_dephcam/points" />
		<!-- <remap from="cloud_in" to="/safecopter/cloud_in" /> -->
	</node>
</launch>
